@media (min-width: 1440px) {

    body {
        width: 100%;
        height: auto;
        background-color: #FEFAF6;
        margin: 0;
        padding: 0;
    }

    #loading {
        right: 50%;
        left: 50%;
        top: 50%;
        bottom: 50%;
        position: absolute;
        text-align: center;
    }

    #loader-logo {
        position: absolute;
        margin-top: 40px;
        margin-left: 20px;
        opacity: 0;
        transition: opacity 1s ease-in;
        transform: translate(-50%, -50%);
        width: 60px;
        /* Ajusta el tamaño del logo según sea necesario */
        height: auto;
        /* Ajusta el tamaño del logo según sea necesario */
        animation: spin-reverse 2s linear infinite;
    }

    #loader-logo.show {
        opacity: 1;
    }

    .loader {
        position: absolute;
        border: 16px solid #EADBC8;
        border-radius: 50%;
        border-top: 16px solid #102C57;
        width: 100px;
        height: 100px;
        animation: spin 2s linear infinite;

    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes spin-reverse {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    .content {
        display: none;
        text-align: center;
    }

    h1 {
        color: #FEFAF6;
    }

    .whatsapp-icon {
        right: 0%;
        bottom: 0%;
        z-index: 1;
        margin-right: 10px;
        margin-bottom: 20px;
        height: 50px;
        display: flex;
        position: fixed;
        transition: scale 1s ease;
    }

    .whatsapp-icon:hover {
        scale: 1.1;
    }

    .up-icon-hover {
        right: 0%;
        bottom: 0%;
        z-index: 2;
        margin-right: 10px;
        margin-bottom: 80px;
        height: 50px;
        display: flex;
        position: fixed;
        opacity: 1;
        transition: opacity 1s ease;

    }

    .up-icon {
        right: 0%;
        bottom: 0%;
        z-index: 1;
        margin-right: 10px;
        margin-bottom: 80px;
        height: 50px;
        display: flex;
        position: fixed;
        opacity: 1;

    }

    .up-icon-hover:hover {
        opacity: 0;

    }

    .navbarhead {
        width: 100%;
        height: 70px;
        background-color: #102C57;
        top: 0;
        display: flex;
    }

    .search-bar-box {
        display: flex;
        position: absolute;
        right: 0;
        height: 50px;
        margin-right: 100px;
        margin-top: 20px;
    }

    input[type=text] {
        background-color: #FEFAF6;
        border: none;
        width: 0px;
        opacity: 0;
        font-size: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        -webkit-transition: width 0.4s ease-in-out;
        transition: opacity 1s ease, width 0.4s ease-in-out;
    }

    /* When the input field gets focus, change its width to 100% */
    input[type=text]:focus {
        width: 200px;
        height: 25px;
        opacity: 0.9;
        border: none;
        border-radius: 10px;
        background-color: #EADBC8;
        outline: none;

    }

    input[type=text]::placeholder {
        color: #939185;
        font-size: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    i#lupa {
        color: #FEFAF6;
        margin-top: 1px;
        scale: 1.2;
        padding: 10px;
    }

    .logo-header {
        width: 100px;
        height: auto;
        position: relative;
        margin-top: 15px;
        margin-left: 15px
    }

    .container-carousel {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
    }

    .carrusel-caja {
        width: 100%;
        height: 100%;
        position: relative;
        justify-content: center;
    }

    #carouselExampleDark {
        width: 100%;
        height: 100%;
    }

    .img-carrusel {
        width: 100%;
        height: 100%;
        transition: scale 1s ease;
    }

    .img-carrusel:hover {
        scale: 1.2;
    }

    .carousel-text-info,
    h5 {
        color: #FEFAF6;
    }

    .mini-boxes {
        width: 100%;
        height: 450px;
        justify-content: center;
        vertical-align: middle;
        display: flex;
        background-color: #102C57;
    }

    .mini-boxes .mbox1 {
        width: 25%;
        height: 400px;
        margin-inline: 10px;
        margin-top: 25px;
        background-color: black;
        justify-content: center;
        display: block;
        position: relative;
        overflow: hidden;
        /* transition: scale 0.5s ease-out; */
    }

    .mini-boxes .mbox1 .mboximg {
        width: 700px;
        filter: grayscale(100%);
        transition: filter 1s ease, scale 1s ease;
    }

    .mini-boxes .mbox1:hover .mboximg {
        scale: 1.1;
        filter: grayscale(0%);
    }

    .about-me-box {

        width: 100%;
        height: 700px;
        display: flex;
    }

    .aboutme-text {
        width: 30%;
        height: 600px;
        margin-top: 2%;
        margin-left: 10%;

        p {
            margin-left: 10px;
            color: #DAC0A3;
            margin-top: 50%;
        }
    }

    .aboutme-media {
        width: 30%;
        height: 600px;
        margin-top: 2%;
        margin-left: 15%;

        .aboutme-img {

            margin-top: 20%;
            width: 600px;
        }
    }

    .product-container-box {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .boxflex-1 {
        width: 200px;
        height: 260px;
        margin: 10px;
        text-align: center;
        transition: scale 1s ease;
        position: relative;
    }

    .productname-boxflex {
        margin-top: 1px;
        margin-bottom: 0px;

    }

    .productprice-boxflex {
        margin-top: 1px;

    }

    .boxflex-1:hover {
        scale: 1.1;

    }

    .boxflex-img {
        width: 200px;
        position: relative;

    }

    .footer-box {
        background-color: #102C57;
        width: 100%;
        height: 400px;
        bottom: 0;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        position: relative;
    }


    .mapa-container {
        width: 50%;
        display: flex;
        position: relative;
        right: 0;
    }


}



/*
__________,-~-. _.-._.-~-,
_________/ .- ,'_______`-. \
_________\ /`__________\'/
_________ /___'a___a`___\
_________|____,'(_)`.____ |
_________\___( ._|_. )___ /
__________\___ .__,'___ /
__________.-`._______,'-.__
________,'__,'___`-'___`.__`.
_______/___/____V_____\___\_
_____,'____/_____o______\___`.__
___,'_____|______o_______|_____`.
__|_____,'|______o_______|`._____|
___`.__,'_.-\_____o______/-._`.__,'
_________/_`.___o____,'__\_
__.""-._,'______`._:_,'_______`.,-""._
_/_,-._`_______)___(________'_,-.__\
(_(___`._____,'_____`.______,'___)_)
_\_\____\__,'________`.____/.___/_/

*/